.extension-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 10px 20px 20px;

  .title {
    height: 24px;
    flex: none;
  }

  .wrap {
    margin-top: 10px;
    flex: 1;
    display: flex;
    overflow: hidden;
  }

  .tree {
    width: 400px;
    flex: none;
    border: 1px solid #666;
    align-self: stretch;
    overflow: auto;

    .ant-tree .ant-tree-treenode {
      height: 22px;
    }

    .ant-tree-title {
      white-space: nowrap;
    }
  }

  .content {
    margin-left: 30px;
    flex: 1;
    border: 1px solid #666;
    align-self: stretch;
    overflow: auto;
    font-size: 12px;
  }

}


